<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/login" method="post">
        <p><b>Ваше имя:</b><br>
            <input name="name" type="text" size="40">
        <p><b>Ваша фамилия:</b><br>
           <input name="surname" type="text" size="40">
        <p><b>Ваш пароль:</b><br>
           <input name="password" type="text" size="40">
        <p><b>Повторите пароль:</b><br>
           <input name="confirm_password" type="text" size="40">
        <p><b>Ваш еmail:</b><br>
           <input name="email" type="text" size="40">
        <p><b>Ваш телефон:</b><br>
           <input name="telephone" type="text" size="40">
            <button name="submit" type="submit" value="+7">Зарегистрироваться</button>
    </form>
</body>
</html>